.bg_color{
    background-color: orange;
}

.text_color{
    color: white;
}

.contenitor_height{
    height: 50px;
}

.header_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_height{
   height: 30px;
} 

.icons_margin{
    margin-left: 5px;
}

.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle{
 padding: 0px;
 text-align: center;
}

.title{
    text-align: center;
}

.img_weight{
    height: 400px;
}

.main_container{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.color_price{
    color: red;
}

.old_price{
    color: black;
}

.body_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.side_solid{
    border: solid;
    border-width: 1px;
    border-color: rgb(202, 197, 197);
    margin-bottom: 50px;
}

.footer_color{
    background-color: black;
    color: white;
}

.footer_size{
    height: 80px;
}

.footer_flex{
    display: flex;
    align-content: center;

}

.font_footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}